<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2019 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asecl.simdc.org.simdc_project.db.mapper.LoginMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="ID" parameterType="com.asecl.simdc.org.simdc_project.db.entity.Login">
        INSERT INTO login (JwtToken,LastModifyTime)
        SELECT #{JwtToken, jdbcType=VARCHAR},#{LastModifyTime, jdbcType=TIMESTAMP} FROM DUAL WHERE NOT EXISTS (
          SELECT 1 FROM login WHERE JwtToken = #{JwtToken, jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertall" useGeneratedKeys="true" keyProperty="ID" parameterType="com.asecl.simdc.org.simdc_project.db.entity.Login">
        INSERT INTO login (JwtToken,LoginUser_ID,LoginType_ID,LastModifyTime)
        SELECT #{JwtToken, jdbcType=VARCHAR},#{LoginUser_ID, jdbcType=BIGINT},#{LoginType_ID, jdbcType=BIGINT},#{LastModifyTime, jdbcType=TIMESTAMP} FROM DUAL WHERE NOT EXISTS (
        SELECT 1 FROM login WHERE JwtToken = #{JwtToken, jdbcType=VARCHAR}
        )
    </insert>

    <select id="getAll" resultType="com.asecl.simdc.org.simdc_project.db.entity.Login">
        select * from login
    </select>

    <select id="getTotalCount" resultType="int">
        select count(*) from login
    </select>

    <select id="getByJwtToken" resultType="com.asecl.simdc.org.simdc_project.db.entity.Login">
        select * from login where JwtToken = (#{JwtToken}) LIMIT 1
    </select>

    <update id="update" parameterType="com.asecl.simdc.org.simdc_project.db.entity.Login">
        update login set JwtToken = (#{JwtToken}) where ID = (#{ID})
    </update>

    <delete id="deleteByID" >
        delete from login where ID=(#{id})
    </delete>

    <delete id="deleteByJwtToken" >
        delete from login where JwtToken=(#{JwtToken})
    </delete>
</mapper>