<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2019 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asecl.simdc.org.simdc_project.db.mapper.Product_TrayMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="ID" parameterType="com.asecl.simdc.org.simdc_project.db.entity.Product_Tray">
        INSERT INTO Product_tray (`Name`, `Product_TestConfiguration_ID`, `TrayType_ID`, `Width`, `Height`, `TOrder`)
        SELECT
        #{Name},
        #{Product_TestConfiguration.ID},
        #{TrayType.ID},
        #{Width},
        #{Height},
        #{TOrder}
        FROM DUAL WHERE NOT EXISTS (
          SELECT 1 FROM Product_tray WHERE Name = #{Name, jdbcType=VARCHAR} and Product_TestConfiguration_ID = #{Product_TestConfiguration.ID}
        )
    </insert>

    <!--    <select id="getAll" resultType="com.asecl.simdc.org.simdc_project.db.entity.Role">-->
    <!--        select * from tray-->
    <!--    </select>-->

    <select id="getTotalCount" resultType="int">
        select count(*) from Product_tray
    </select>

    <select id="getByTestConfigurationIdAndName" >
        select * from Product_tray where Product_TestConfiguration_ID = #{cfgId} and Name = #{name}
    </select>

    <!--    <update id="update" parameterType="com.asecl.simdc.org.simdc_project.db.entity.Role">-->
    <!--        update role set Name = (#{Name}) where ID = (#{ID})-->
    <!--    </update>-->

    <delete id="deleteByID" >
        delete from Product_tray where ID=(#{id})
    </delete>
</mapper>